# scripts
*.ps1

# builds
*.exe
*.dll

# TODO list
TODO.*

# ide & ignores
.ignore/
.tests/
.vscode/
.plans/
.assets/

# imgui
src/render/imgui
src/render/include
src/render/build
src/render/src/main.cpp

# imgui
*.ini

# c -> imgui
*.c
*.h